.back-button {
    margin-top: 13%;
    margin-right: -10px;
    z-index: 9999;
}

.forward-button {
    margin-top: 13%;
    margin-left: -10px;
}

.container {
    display: flex;
}

.root {
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
    min-height: 100vh;
}
